#logout{
    float: right;
}

#logoCabecera{
    width: 25%;
    position: absolute;
    left: 10%;
    color: white;
    border-color: #ffffff;
    font-style: italic;
    font-weight: inherit;
}

#barraMenu{
    height: 19%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #323B37;
    width: 100%;
    font-size: 28px;
}

#textoHome{
    position: absolute;
    top: 50%;
    left: 60%;
    font-size: 20px;

}

#buttonEntrar{
    position: absolute;
    top: 60%;
    left: 70%;
}

#buttonRegistrar{
    position: absolute;
    top: 60%;
    left: 80%;
}

#imagenHome{
    position: absolute;
    top: 39%;
    width: 30%;
    height: 40%;
    left: 19%;
}