#quesitoHistoria{
    position: absolute;
    top: 64px;
    left: 600px;
    transform:rotate(54deg) skewX(18deg);
    -ms-transform:rotate(54deg) skewX(18deg); /* IE 9 */
    -moz-transform:rotate(54deg) skewX(18deg); /* Firefox */
    -webkit-transform:rotate(54deg) skewX(18deg); /* Safari and Chrome */
    -o-transform:rotate(63deg) skew(54deg,-23deg); /* Opera */

}

#quesitoCiencia{
    position: absolute;
    top: 206px;
    left: 790px;
    transform:rotate(-54deg) skewX(18deg);
    -ms-transform:rotate(-54deg) skewX(18deg); /* IE 9 */
    -moz-transform:rotate(-54deg) skewX(18deg); /* Firefox */
    -webkit-transform:rotate(-54deg) skewX(18deg); /* Safari and Chrome */
    -o-transform:rotate(-54deg) skewX(18deg); /* Opera */
}

#quesitoEspectaculos{
    position: absolute;
    top: 209px;
    left: 420px;
    transform:rotate(-18deg) skewX(18deg);
    -ms-transform:rotate(-18deg) skewX(18deg); /* IE 9 */
    -moz-transform:rotate(-18deg) skewX(18deg); /* Firefox */
    -webkit-transform: rotate(-18deg) skewX(18deg);
    -o-transform:rotate(-18deg) skewX(18deg)); /* Opera */
}

#quesitoLiteratura{
    position: absolute;
    top: 434px;
    left: 491px;
    transform:rotate(90deg) skewX(18deg);
    -ms-transform:rotate(90deg) skewX(18deg); /* IE 9 */
    -moz-transform:rotate(90deg) skewX(18deg); /* Firefox */
    -webkit-transform:rotate(90deg) skewX(18deg); /* Safari and Chrome */
    -o-transform:rotate(90deg) skewX(18deg); /* Opera */
}

#quesitoDeportes {
    position: absolute;
    top: 432px;
    left: 722px;
    transform:rotate(-162deg) skewX(18deg);
    -ms-transform:rotate(-162deg) skewX(18deg); /* IE 9 */
    -moz-transform:rotate(-162deg) skewX(18deg); /* Firefox */
    -webkit-transform:rotate(-162deg) skewX(18deg); /* Safari and Chrome */
    -o-transform:rotate(-162deg) skewX(18deg); /* Opera */
}

.lado1{
    position: absolute;
    width: auto;
    height: auto;
    transform:rotate(-36deg) skewY(-5deg);
    -ms-transform:rotate(-36deg) skewY(-5deg); /* IE 9 */
    -moz-transform:rotate(-36deg) skewY(-5deg); /* Firefox */
    -webkit-transform:rotate(-36deg) skewY(-5deg); /* Safari and Chrome */
    -o-transform:rotate(-36deg) skewY(-5deg); /* Opera */
}

#lado1-1{
    left: 590px;
    top: 105px;

 }

#lado1-2{
    left: 568px;
    top: 124px;
}

#lado1-3{
    left: 546px;
    top: 143px;
}

#lado1-4{
    left: 525px;
    top: 162px;
}

#lado1-5{
    left: 503px;
    top: 181px;
}

#lado1-6{
    left: 480px;
    top: 200px;
}

.lado2{
    position: absolute;
    width: auto;
    height: auto;
    transform:rotate(72deg);
    -ms-transform:rotate(72deg); /* IE 9 */
    -moz-transform:rotate(72deg); /* Firefox */
    -webkit-transform:rotate(72deg); /* Safari and Chrome */
    -o-transform:rotate(72deg); /* Opera */
}

#lado2-1{
    top: 249px;
    left: 457px;
}

#lado2-2{
    top: 277px;
    left: 466px;
}

#lado2-3{
    top: 305px;
    left: 475px;
}

#lado2-4{
    top: 334px;
    left: 485px;
}

#lado2-5{
    top: 361px;
    left: 494px;
}

#lado2-6{
    top: 389px;
    left: 504px;
}

.lado3{
    position: absolute;
    width: auto;
    height: auto;
    top: 424px;
}

#lado3-1{
    left: 550px;

}

#lado3-2{
    left: 580px;
}

#lado3-3{
    left: 608px;
}

#lado3-4{
    left: 636px;
}

#lado3-5{
    left: 664px;
}

#lado3-6{
    left: 693px;
}

.lado4{
    position: absolute;
    width: auto;
    height: auto;
    transform:rotate(-72deg);
    -ms-transform:rotate(-72deg); /* IE 9 */
    -moz-transform:rotate(-72deg); /* Firefox */
    -webkit-transform:rotate(-72deg); /* Safari and Chrome */
    -o-transform:rotate(-72deg); /* Opera */
}

#lado4-1{
    top: 387px;
    left: 741px;
}

#lado4-2{
    top: 359px;
    left: 750px;
}

#lado4-3{
    top: 331px;
    left: 759px;
}

#lado4-4{
    top: 303px;
    left: 768px;
}

#lado4-5{
    top: 275px;
    left: 777px;
}

#lado4-6{
    top: 246px;
    left: 786px;
}

.lado5{
    position: absolute;
    width: auto;
    height: auto;
    transform:rotate(36deg);
    -ms-transform:rotate(36deg); /* IE 9 */
    -moz-transform:rotate(36deg); /* Firefox */
    -webkit-transform:rotate(36deg); /* Safari and Chrome */
    -o-transform:rotate(36deg); /* Opera */
}

#lado5-1{
    top: 194px;
    left: 759px;
}

#lado5-2{
    top: 176px;
    left: 735px;
}

#lado5-3{
    top: 158px;
    left: 711px;
}

#lado5-4{
    top: 140px;
    left: 687px;
}

#lado5-5{
    top: 122px;
    left: 663px;
}

#lado5-6{
    top: 104px;
    left: 639px;
}
