{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}actualGame.js"></script>
    <script type="text/javascript">
        function cambiaTurno(){
            document.getElementById("dado").setAttribute()
            var url = location.href;
            var trozos = url.split("/");
            $.ajax({
                type: "post",
                url: "/cambia_turno",
                data: {'id':trozos[4],
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(data) {
                    alert("Espere a que juegue el otro jugador.")
                }
            });
            if (document.getElementById("turno").value == 1){
                document.getElementById("turno").value = 2;
            }else{
                document.getElementById("turno").value = 1;
            }
        }
        var respuestaCorrecta;
        function clickado(tipo){
            //Request
            $.ajax({
                type: "get",
                url: "/pregunta",
                data: {'tipo':tipo,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(data) {
                    //Recibimos la información de la pregunta del servidor.
                    //La mostramos en el espacio para ello.
                    document.getElementById("pregunta").innerHTML=data['pregunta'];
                    //TODO:randomizar posición de la respuesta correcta.
                    respuestaCorrecta = data['respuesta_correcta'];
                    posRespCorrecta = Math.floor((Math.random()*4)+1);
                    document.getElementById("respuesta"+posRespCorrecta).innerHTML=data['respuesta_correcta'];
                    for (i = 1; i < 4; i++){
                        if (document.getElementById("respuesta"+i).innerHTML == ""){
                            document.getElementById("respuesta"+i).innerHTML=data['respuesta_incorrecta'+i];
                        }else{
                            elemento = "respuesta"+String(i+1);
                            document.getElementById(elemento).innerHTML=data['respuesta_incorrecta'+i];
                        }
                    }
                    //Sacamos el lightbox con la pregunta.
                    document.getElementById('light').style.display='block';
                    document.getElementById('fade').style.display='block';
                }
            });
        }
        function resuelve(respuesta){
            respuestaSeleccionada = document.getElementById("respuesta"+respuesta).innerHTML.toString();
            if (respuestaSeleccionada == respuestaCorrecta){
                alert("correcto");
                //TODO:marcar en verde y quitar el lightbox
                //Volver a lanzar el dado.
                document.getElementById('light').style.display='none';
                document.getElementById('fade').style.display='none';
            }else{
                alert("error");
                //Marcamos como incorrecta
                document.getElementById('respuesta'+respuesta).style.background='red';
                //TODO:esperar dos segundos antes de borrar el lightbox
                document.getElementById('light').style.display='none';
                document.getElementById('fade').style.display='none';
                //Cambiamos el turno en el servidor.
                cambiaTurno();
            }
            //TODO: en principio no importa, pero mirar para devolver el estado inicial tras fallar una pregunta.
            for (i = 1; i < 5; i++){
                document.getElementById("respuesta"+i).innerHTML="";
                document.getElementById('respuesta'+respuesta).style.appearance = HTMLButtonElement;
            }
        }
    </script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tablero.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}actualGame.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cubo.css">
{% endblock %}
{% block content %}
    <div hidden="hidden" id="posicionActual" name="posicionActual"></div>
    <input type="hidden" id="turno" name="turno" value="{{ turno }}"/>
    <div class="dado" id="dado"></div>
    <div id="tablero">
        <div id="1">
            <canvas id="quesitoHistoria" class="quesitoHistoria" onclick ="clickado('Historia');" width="60" height="60"></canvas>
        </div>
        <div id="lado1-1" class="lado1">
            <canvas id="2" class="espectaculos" onclick ="clickado('Espectaculos');" width="30" height="50"></canvas>
        </div>
        <div id="lado1-2" class="lado1">
            <canvas id="3" class="literatura" onclick ="clickado('Literatura');" width="30" height="50"></canvas>
        </div>
        <div id="lado1-3" class="lado1">
            <canvas id="4" class="tiraOtraVez" onclick ="clickTiraOtraVez();" width="30" height="50"></canvas>
        </div>
        <div id="lado1-4" class="lado1">
            <canvas id="5" class="ciencia" onclick ="clickado('Ciencia');" width="30" height="50"></canvas>
        </div>
        <div id="lado1-5" class="lado1">
            <canvas id="6" class="deportes" onclick ="clickado('Deportes');" width="30" height="50"></canvas>
        </div>
        <div id="lado1-6" class="lado1">
            <canvas id="7" class="historia" onclick ="clickado('Historia');" width="30" height="50"></canvas>
        </div>

        <canvas id="quesitoCiencia" class="quesitoCiencia" onclick ="clickado('Ciencia');" width="60" height="60"></canvas>
        <canvas id="quesitoEspectaculos" class="quesitoEspectaculos"  onclick ="clickado('Espectaculos');" width="60" height="60"></canvas>
        <canvas id="quesitoLiteratura" class="quesitoLiteratura"  onclick ="clickado('Literatura');" width="60" height="60"></canvas>
        <canvas id="quesitoDeportes" class="quesitoDeportes" onclick ="clickado('Deportes');" width="60" height="60"></canvas>




        <div id="lado2-1" class="lado2">
            <canvas id="1lado2" class="literatura" onclick ="clickado('Literatura');" width="30" height="50"></canvas>
        </div>
        <div id="lado2-2" class="lado2">
            <canvas id="2lado2" class="ciencia" onclick ="clickado('Ciencia');" width="30" height="50"></canvas>
        </div>
        <div id="lado2-3" class="lado2">
            <canvas id="3lado2" class="deportes" onclick ="clickado('Deportes');" width="30" height="50"></canvas>
        </div>
        <div id="lado2-4" class="lado2">
            <canvas id="4lado2" class="tiraOtraVez" onclick ="clickTiraOtraVez();" width="30" height="50"></canvas>
        </div>
        <div id="lado2-5" class="lado2">
            <canvas id="5lado2" class="historia" onclick ="clickado('Historia');" width="30" height="50"></canvas>
        </div>
        <div id="lado2-6" class="lado2">
            <canvas id="6lado2" class="espectaculos" onclick ="clickado('Espectaculos');" width="30" height="50"></canvas>
        </div>


        <div id="lado3-1" class="lado3">
            <canvas id="1lado3" class="deportes" onclick ="clickado('Deportes');" width="30" height="50"></canvas>
        </div>
        <div id="lado3-2" class="lado3">
            <canvas id="2lado3" class="historia" onclick ="clickado('Historia');" width="30" height="50"></canvas>
        </div>
        <div id="lado3-3" class="lado3">
            <canvas id="3lado3" class="ciencia" onclick ="clickado('Ciencia');" width="30" height="50"></canvas>
        </div>
        <div id="lado3-4" class="lado3">
            <canvas id="4lado3" class="tiraOtraVez" onclick ="clickTiraOtraVez();" width="30" height="50"></canvas>
        </div>
        <div id="lado3-5" class="lado3">
            <canvas id="5lado3" class="literatura" onclick ="clickado('Literatura');" width="30" height="50"></canvas>
        </div>
        <div id="lado3-6" class="lado3">
            <canvas id="6lado3" class="espectaculos" onclick ="clickado('Espectaculos');" width="30" height="50"></canvas>
        </div>


        <div id="lado4-1" class="lado4">
            <canvas id="1lado4" class="ciencia" onclick ="clickado('Ciencia');" width="30" height="50"></canvas>
        </div>
        <div id="lado4-2" class="lado4">
            <canvas id="2lado4" class="espectaculos" onclick ="clickado('Espectaculos');" width="30" height="50"></canvas>
        </div>
        <div id="lado4-3" class="lado4">
            <canvas id="3lado4" class="tiraOtraVez" onclick ="clickTiraOtraVez();" width="30" height="50"></canvas>
        </div>
        <div id="lado4-4" class="lado4">
            <canvas id="4lado4" class="historia" onclick ="clickado('Historia');" width="30" height="50"></canvas>
        </div>
        <div id="lado4-5" class="lado4">
            <canvas id="5lado4" class="literatura" onclick ="clickado('Literatura');" width="30" height="50"></canvas>
        </div>
        <div id="lado4-6" class="lado4">
            <canvas id="6lado4" class="deportes" onclick ="clickado('Deportes');" width="30" height="50"></canvas>
        </div>



        <div id="lado5-1" class="lado5">
            <canvas id="1lado5" class="espectaculos" onclick ="clickado('Espectaculos');" width="30" height="50"></canvas>
        </div>
        <div id="lado5-2" class="lado5">
            <canvas id="2lado5" class="historia" onclick ="clickado('Historia');" width="30" height="50"></canvas>
        </div>
        <div id="lado5-3" class="lado5">
            <canvas id="3lado5" class="tiraOtraVez" onclick ="clickTiraOtraVez();" width="30" height="50"></canvas>
        </div>
        <div id="lado5-4" class="lado5">
            <canvas id="4lado5" class="ciencia" onclick ="clickado('Ciencia');" width="30" height="50"></canvas>
        </div>
        <div id="lado5-5" class="lado5">
            <canvas id="5lado5" class="deportes" onclick ="clickado('Deportes');" width="30" height="50"></canvas>
        </div>
        <div id="lado5-6" class="lado5">
            <canvas id="6lado5" class="literatura" onclick ="clickado('Literatura');" width="30" height="50"></canvas>
        </div>
    </div>

    <div id="light" class="white_content">
        <h1 id="pregunta"></h1>
        <button id="respuesta1" class="botonRespuesta" onclick="resuelve(1)"></button>
        <button id="respuesta2" class="botonRespuesta" onclick="resuelve(2)"></button>
        <button id="respuesta3" class="botonRespuesta" onclick="resuelve(3)"></button>
        <button id="respuesta4" class="botonRespuesta" onclick="resuelve(4)"></button>
    </div>
    <div id="fade" class="black_overlay"></div>
    <input type="button" class="button" style="float: right" value="Volver" onclick="volver()">
{% endblock %}
