{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}actualGame.js"></script>
    <script type="text/javascript">
        function cambiaTurno(){
            document.getElementById("dado").setAttribute()
            var url = location.href;
            var trozos = url.split("/");
            $.ajax({
                type: "post",
                url: "/cambia_turno",
                data: {'id':trozos[4],
                       'posicionActualUsuario':document.getElementById('posicionActualUsuario'),
                       'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(data) {
                    alert("Espere a que juegue el otro jugador.")
                }
            });
            document.getElementById("turno").value = "False";
        }

        var respuestaCorrecta;
        function clickado(id,tipo){
            //Quitamos la marca de posible movimiento y ponemos la ficha aquí.
            actualizaPosicion(id);
            //Request
            $.ajax({
                type: "get",
                url: "/pregunta",
                data: {'tipo':tipo,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(data) {
                    //Recibimos la información de la pregunta del servidor.
                    //La mostramos en el espacio para ello.
                    document.getElementById("pregunta").innerHTML=data['pregunta'];
                    //TODO:randomizar posición de la respuesta correcta.
                    respuestaCorrecta = data['respuesta_correcta'];
                    posRespCorrecta = Math.floor((Math.random()*4)+1);
                    document.getElementById("respuesta"+posRespCorrecta).innerHTML=data['respuesta_correcta'];
                    for (i = 1; i < 4; i++){
                        if (document.getElementById("respuesta"+i).innerHTML == ""){
                            document.getElementById("respuesta"+i).innerHTML=data['respuesta_incorrecta'+i];
                        }else{
                            elemento = "respuesta"+String(i+1);
                            document.getElementById(elemento).innerHTML=data['respuesta_incorrecta'+i];
                        }
                    }
                    //Sacamos el lightbox con la pregunta.
                    document.getElementById('light').style.display='block';
                    document.getElementById('fade').style.display='block';
                }
            });
        }
        function resuelve(respuesta){
            respuestaSeleccionada = document.getElementById("respuesta"+respuesta).innerHTML.toString();
            cargaCasillas();
            cargaQuesitos();
            if (respuestaSeleccionada == respuestaCorrecta){
                //alert("correcto");
                //TODO:marcar en verde y quitar el lightbox
                document.getElementById('respuesta'+respuesta).style.background='green';
                window.setTimeout('quitaLightbox('+respuesta+')',2000);
                //Volver a lanzar el dado.
                pintaNuevaPosicion();
                girarDado();
            }else{
                //alert("error");
                //Marcamos como incorrecta
                document.getElementById('respuesta'+respuesta).style.background='red';
                //esperar dos segundos antes de borrar el lightbox
                window.setTimeout('quitaLightbox('+respuesta+')',2000);
                //Quitamos el dado
                document.getElementById("dado").hidden = "hidden";
                //Cambiamos el turno en el servidor.
                pintaNuevaPosicion();
                cambiaTurno();
            }
        }
    </script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tablero.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}actualGame.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cubo.css">
{% endblock %}
{% block content %}
    <input hidden="hidden" id="posicionActualUsuario" name="posicionActualUsuario" value="{{ posicionActualUsuario }}"/>
    <input hidden="hidden" id="posicionActualOtro" name="posicionActualOtro" value="{{ posicionActualOtro }}"/>
    <input type="hidden" id="turno" name="turno" value="{{ turno }}"/>
    <div class="dado" id="dado"></div>
    <div id="tablero">
        <div id="1">
            <canvas id="quesitoHistoria" class="Historia" onclick ="clickado(1,'Historia');" width="60" height="60"></canvas>
        </div>
        <div id="lado1-1" class="lado1">
            <canvas id="2" class="Espectaculos" onclick ="clickado(2,'Espectaculos');" width="30" height="50"></canvas>
        </div>
        <div id="lado1-2" class="lado1">
            <canvas id="3" class="Literatura" onclick ="clickado(3,'Literatura');" width="30" height="50"></canvas>
        </div>
        <div id="lado1-3" class="lado1">
            <canvas id="4" class="tiraOtraVez" onclick ="clickTiraOtraVez(4);" width="30" height="50"></canvas>
        </div>
        <div id="lado1-4" class="lado1">
            <canvas id="5" class="Ciencia" onclick ="clickado(5,'Ciencia');" width="30" height="50"></canvas>
        </div>
        <div id="lado1-5" class="lado1">
            <canvas id="6" class="Deportes" onclick ="clickado(6,'Deportes');" width="30" height="50"></canvas>
        </div>
        <div id="lado1-6" class="lado1">
            <canvas id="7" class="Historia" onclick ="clickado(7,'Historia');" width="30" height="50"></canvas>
        </div>

        <div id="8">
            <canvas id="quesitoEspectaculos" class="Espectaculos"  onclick ="clickado(8,'Espectaculos');" width="60" height="60"></canvas>
        </div>

        <div id="lado2-1" class="lado2">
            <canvas id="9" class="Literatura" onclick ="clickado(9,'Literatura');" width="30" height="50"></canvas>
        </div>
        <div id="lado2-2" class="lado2">
            <canvas id="10" class="Ciencia" onclick ="clickado(10,'Ciencia');" width="30" height="50"></canvas>
        </div>
        <div id="lado2-3" class="lado2">
            <canvas id="11" class="Deportes" onclick ="clickado(11,'Deportes');" width="30" height="50"></canvas>
        </div>
        <div id="lado2-4" class="lado2">
            <canvas id="12" class="tiraOtraVez" onclick ="clickTiraOtraVez(12);" width="30" height="50"></canvas>
        </div>
        <div id="lado2-5" class="lado2">
            <canvas id="13" class="Historia" onclick ="clickado(13,'Historia');" width="30" height="50"></canvas>
        </div>
        <div id="lado2-6" class="lado2">
            <canvas id="14" class="Espectaculos" onclick ="clickado(14,'Espectaculos');" width="30" height="50"></canvas>
        </div>

        <div id="15">
            <canvas id="quesitoLiteratura" class="Literatura"  onclick ="clickado(15,'Literatura');" width="60" height="60"></canvas>
        </div>

        <div id="lado3-1" class="lado3">
            <canvas id="16" class="Deportes" onclick ="clickado(16,'Deportes');" width="30" height="50"></canvas>
        </div>
        <div id="lado3-2" class="lado3">
            <canvas id="17" class="Historia" onclick ="clickado(17'Historia');" width="30" height="50"></canvas>
        </div>
        <div id="lado3-3" class="lado3">
            <canvas id="18" class="Ciencia" onclick ="clickado(18,'Ciencia');" width="30" height="50"></canvas>
        </div>
        <div id="lado3-4" class="lado3">
            <canvas id="19" class="tiraOtraVez" onclick ="clickTiraOtraVez(19);" width="30" height="50"></canvas>
        </div>
        <div id="lado3-5" class="lado3">
            <canvas id="20" class="Literatura" onclick ="clickado(20,'Literatura');" width="30" height="50"></canvas>
        </div>
        <div id="lado3-6" class="lado3">
            <canvas id="21" class="Espectaculos" onclick ="clickado(21,'Espectaculos');" width="30" height="50"></canvas>
        </div>

        <div id="22">
            <canvas id="quesitoDeportes" class="Deportes" onclick ="clickado(22,'Deportes');" width="60" height="60"></canvas>
        </div>

        <div id="lado4-1" class="lado4">
            <canvas id="23" class="Ciencia" onclick ="clickado(23,'Ciencia');" width="30" height="50"></canvas>
        </div>
        <div id="lado4-2" class="lado4">
            <canvas id="24" class="Espectaculos" onclick ="clickado(24,'Espectaculos');" width="30" height="50"></canvas>
        </div>
        <div id="lado4-3" class="lado4">
            <canvas id="25" class="tiraOtraVez" onclick ="clickTiraOtraVez(25);" width="30" height="50"></canvas>
        </div>
        <div id="lado4-4" class="lado4">
            <canvas id="26" class="Historia" onclick ="clickado(26,'Historia');" width="30" height="50"></canvas>
        </div>
        <div id="lado4-5" class="lado4">
            <canvas id="27" class="Literatura" onclick ="clickado(27,'Literatura');" width="30" height="50"></canvas>
        </div>
        <div id="lado4-6" class="lado4">
            <canvas id="28" class="Deportes" onclick ="clickado(28,'Deportes');" width="30" height="50"></canvas>
        </div>

        <div id="29">
            <canvas id="quesitoCiencia" class="Ciencia" onclick ="clickado(29,'Ciencia');" width="60" height="60"></canvas>
        </div>

        <div id="lado5-1" class="lado5">
            <canvas id="30" class="Espectaculos" onclick ="clickado(30,'Espectaculos');" width="30" height="50"></canvas>
        </div>
        <div id="lado5-2" class="lado5">
            <canvas id="31" class="Historia" onclick ="clickado(31,'Historia');" width="30" height="50"></canvas>
        </div>
        <div id="lado5-3" class="lado5">
            <canvas id="32" class="tiraOtraVez" onclick ="clickTiraOtraVez(32);" width="30" height="50"></canvas>
        </div>
        <div id="lado5-4" class="lado5">
            <canvas id="33" class="Ciencia" onclick ="clickado(33,'Ciencia');" width="30" height="50"></canvas>
        </div>
        <div id="lado5-5" class="lado5">
            <canvas id="34" class="Deportes" onclick ="clickado(34,'Deportes');" width="30" height="50"></canvas>
        </div>
        <div id="lado5-6" class="lado5">
            <canvas id="35" class="Literatura" onclick ="clickado(35,'Literatura');" width="30" height="50"></canvas>
        </div>
    </div>

    <div id="light" class="white_content">
        <h1 id="pregunta"></h1>
        <button id="respuesta1" class="botonRespuesta" onclick="resuelve(1)"></button>
        <button id="respuesta2" class="botonRespuesta" onclick="resuelve(2)"></button>
        <button id="respuesta3" class="botonRespuesta" onclick="resuelve(3)"></button>
        <button id="respuesta4" class="botonRespuesta" onclick="resuelve(4)"></button>
    </div>
    <div id="fade" class="black_overlay"></div>
{% endblock %}
