<!DOCTYPE HTML >
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title> {% block title %}{{ title }}{% endblock %} </title>
    {% block extraHead %}{% endblock %}
</head>
<body {% block extra_body %}{% endblock %}>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base.js"></script>
    {% block extra_javascript %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css">
    {% if not logout %}
       <div id="barraMenu">
           <p>
            <input type="button" class="button" id="logout" value="Logout" onclick="window.location = '/logout'">
           </p>
       </div>
    {% endif %}
    {% block content %} {% endblock %}
    {% csrf_token %}
</body>
</html>
