<!DOCTYPE HTML >
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title> {% block title %}{{ title }}{% endblock %} </title>
    {% block extraHead %}{% endblock %}
</head>
<body {% block extra_body %}{% endblock %}>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base.js"></script>
    {% block extra_javascript %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles.css">
    <header id="barraMenu">
        <h1 id="logoCabecera">TRIVIALES</h1>
    {% if not logout %}
        <input type="button" class="button" id="logout" value="Logout" onclick="window.location = '/logout'">
    {% endif %}
    </header>
    {% block content %} {% endblock %}
</body>
</html>
