{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}game.js"></script>
{% endblock %}
{% block content %}
    {% if games_list %}
        <ul>
            {% for game in games_list %}
                <li><a href="/partida/{{ game.id }}/">Partida con {{ game.user2 }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tienes partidas actualmente.</p>
    {% endif %}
    <input type="button" class="button" value="Crear nueva partida" onclick="newgame()">
{% endblock %}
