<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <title>Triviales</title>
</head>
<script type="text/javascript" src="{{ STATIC_URL }}game.js"></script>

<body>
<div id="barraMenu"><p> HOLA {{ nombre }}</p></div>
    {% if games_list %}
        <ul>
            {% for game in games_list %}
                <li><a href="/game/{{ game.id }}/">Partida con {{ game.user2 }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tienes partidas actualmente.</p>
    {% endif %}

   <a href="/newgame"><input type="button" value="Crear nueva partida"></a>
</body>
</html>