{% extends "base.html" %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}login.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles.css">
{% endblock %}
{% block extra_body %}onload="limpiaClave()"{% endblock %}
{% block content %}
    <div id="container">
        <form id="f1">
            <label for="username">Usuario:</label>
                <input type="name" id="username">
            <label for="password">Contrase&ntilde;a:</label>
                <input type="password" id="password">
            <div id="lower">
                <input type="submit" value="Login" onclick="comprobarLogin()">
            </div>
        </form>
    </div>
{% endblock %}
