{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}login.js"></script>
{% endblock %}
{% block extra_body %}onload="limpiaClave()"{% endblock %}
{% block content %}
    <p style="color: red;"><b>{{ mensaje }}</b></p>
    <form name="f1" action="login" method="post">{% csrf_token %}
        <table>
            <tr>
                <td>Usuario: </td>
                <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <td>Contraseña: </td>
                <td><input type="password" name="password" /></td>
            </tr>
        </table>
        <input type="button" value="Entrar" onClick="comprobarLogin()"/>
        <input type="button" value="Volver" onClick="window.location = '/'"/>
    </form>

{% endblock %}