{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}newgame.js"></script>
{% endblock %}
{% block content %}
    <table>
        <tr>
            <td>
            <td><input type="button" value="Encontrar por nombre usuario" onclick="porUsuario()"/></td>
            </td>
            <td>
            <td><input type="button" value="Encontrar por email" onclick="porMail()" /></td>
            </td>
            <td>
                <input type="button" value="Aleatorio" />
            </td>
        </tr>
    </table>
    <input type="text" id="usuario" style="visibility: hidden;"/>
    <input type="text" id="mail" style="visibility: hidden;"/></br>
    <input type="button" value="Crear partida" id="crearPartida" onclick="crear()" style="visibility: hidden;" />
{% endblock %}
